<div class="empty">
    <p class="empty-title h5">Welcome to the &laquo;Catch 'em all&raquo; search engine</p>
    <div class="empty-action input-group input-inline">
        <input type="text" class="form-input" placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="empty-action input-group input-inline">
        <input type="password" class="form-input" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="empty-action">
        <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
    <p class="empty-subtitle">Forgot your password?</p>
</div>