/* You can add global styles to this file, and also import other style files */

@import "../node_modules/spectre.css/dist/spectre.min.css";
@import "../node_modules/spectre.css/dist/spectre-exp.min.css";
.empty.full-size {
    height: 100%;
}

.nav {
    padding: 1.5em;
}

.nav .nav-item a,
.breadcrumb .breadcrumb-item {
    font-variant: small-caps;
}

.off-canvas .off-canvas-content {
    padding: 1.2rem 4rem;
}

.column {
    padding-bottom: 0.4rem;
}

th.fill-space,
td.fill-space {
    width: 100%;
}