<div class="container">
    <div class="columns">
        <div class="column col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/private/category">Categories</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/private/category/0">Add a new category</a>
                </li>
            </ul>
        </div>
        <div class="column col-12">
            <button class="btn btn-sm btn-primary" (click)="save()">Save</button>
            <button class="btn btn-sm">Reset</button>
        </div>
        <div class="column col-6">
            <form class="form-horizontal" [formGroup]="model">
                <div class="form-group">
                    <div class="col-3">
                        <label class="form-label" for="number">Number</label>
                    </div>
                    <div class="col-9">
                        <input class="form-input" type="number" id="number" formControlName="number" placeholder="Ricardo Category Number (or leave blank)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3">
                        <label class="form-label" for="name">Name</label>
                    </div>
                    <div class="col-9">
                        <input class="form-input" type="text" id="name" formControlName="name" placeholder="Name">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>