<div class="container">
    <div class="columns">
        <div class="column col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/private/category">Categories</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/private/category/0">Add a new category</a>
                </li>
            </ul>
        </div>
        <div class="column col-12">
            <button class="btn btn-sm btn-primary">Save</button>
        </div>
        <div class="column col-12">

        </div>
    </div>
</div>