<div class="container">
    <div class="columns">
        <div class="column col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/private/category">Categories</a>
                </li>
                <li class="breadcrumb-item">
                    <a *ngIf="!id">Add a new category</a>
                    <a *ngIf="!!id">Category {{ model.value.name }}</a>
                </li>
            </ul>
        </div>
        <div class="column col-12">
            <button class="btn btn-sm btn-primary" (click)="save()" [disabled]="isProcessing || model.invalid || model.pristine">Save</button>
            <button class="btn btn-sm" (click)="reset()" [disabled]="isProcessing || model.pristine">Reset</button>
            <button class="btn btn-sm btn-link loading" *ngIf="isProcessing">Loading</button>
        </div>
        <div class="column col-6">
            <form class="form-horizontal" [formGroup]="model" novalidate>
                <div class="form-group" [class.has-error]="model.controls.number.invalid && (model.controls.number.dirty || model.controls.number.touched)">
                    <div class="col-3">
                        <label class="form-label" for="number">Number</label>
                    </div>
                    <div class="col-9">
                        <input class="form-input" type="number" id="number" formControlName="number" placeholder="Ricardo Category Number (or leave empty)">
                        <p *ngIf="model.controls.number.invalid && (model.controls.number.dirty || model.controls.number.touched)" class="form-input-hint">{{ model.controls.number | validationError }}</p>
                    </div>
                </div>
                <div class="form-group" [class.has-error]="model.controls.name.invalid && (model.controls.name.dirty || model.controls.name.touched)">
                    <div class="col-3">
                        <label class="form-label" for="name">Name</label>
                    </div>
                    <div class="col-9">
                        <input class="form-input" type="text" id="name" formControlName="name" placeholder="Name">
                        <p *ngIf="model.controls.name.invalid && (model.controls.name.dirty || model.controls.name.touched)" class="form-input-hint">{{ model.controls.name | validationError }}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>