<div class="container">
    <div class="columns">
        <div class="column col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/private/category">Categories</a>
                </li>
            </ul>
        </div>
        <div class="column col-12">
            <button class="btn btn-sm btn-primary" routerLink="/private/category/0">Add</button>
        </div>
        <div class="column col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>The Shawshank Redemption</td>
                        <td>Crime, Drama</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>