<div class="container">
    <div class="columns">
        <div class="column col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/private/category">Categories</a>
                </li>
            </ul>
        </div>
        <div class="column col-6">
            <button class="btn btn-sm btn-primary" routerLink="/private/category/0">Add</button>
        </div>
        <div class="column col-6 text-right">
            <button class="btn btn-sm" (click)="previousPage()" [disabled]="!(model | async).hasPrevious">Previous</button>
            <button class="btn btn-sm" (click)="nextPage()" [disabled]="!(model | async).hasNext">Next</button>
        </div>
        <div class="column col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <label class="form-checkbox">
                                <input type="checkbox">
                                <i class="form-icon label-sm"></i>
                            </label>
                        </th>
                        <th>Number</th>
                        <th>Name</th>
                        <th class="fill-space"></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="form-input input-sm" type="text" placeholder="Number">
                        </td>
                        <td>
                            <input class="form-input input-sm" type="text" placeholder="Name">
                        </td>
                        <td class="fill-space"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of (model | async).items">
                        <td (click)="select(item)">
                            <label class="form-checkbox">
                                <input type="checkbox" [checked]="item.selected">
                                <i class="form-icon label-sm"></i>
                            </label>
                        </td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.name }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>